body{
    background-color: #EEEEEE;
    }

figure{
    align-self: center;
    }


h1{
    color: #98CA3F;
    font-size: 40px;
    font-weight: bold;
    font-family: Verdana;
    text-align: center;
    }